DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
SMSPOOL_API_KEY=
PROMO_API_KEY=
GOTP_API_BASE_URL=https://api.rainserver.uk
EMAIL_DOMAIN=rainserver.uk
LOG_LEVEL=debug
ORDER_DB_PATH=./orders.index
DB_FLUSH_INTERVAL_MS=30000
LOG_LEVEL=debug